[Unit]
Description=Backup hebdomadaire vers NAS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/dotfiles.env
ExecStart=make -C ${DOTFILES_DIR} backup
StandardOutput=journal
StandardError=journal
